{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mashzen | Mashgame | Login</title>
    <script src="{% static 'mashgame/jquery.js' %}"></script>
    <link rel="stylesheet" type="text/css" href={% static 'mashgame/base.css' %}>
  </head>

  <body>
    <div style="text-align: center">
      <h1>Mashgame</h1>
    <div>

    <div style="text-align: center">
      <form action="{% url 'mashgame:join_login_user' %}" name="user_login_form" method="post">
        {% csrf_token %}
        {% if password_invalid %}
          <label style="color: red"><b>Password Invalid</b></label>
          <br>
        {% endif %}
        <label for="user_name"><b>Username</b></label>
        <br>
        <input type="text" placeholder="user name" name="user_name" id="js_user_name" required>
        <br>
        <br>
        <label for="password"><b>Password</b></label>
        <br>
        <input type="password" placeholder="password" name="password" id="js_password" minlength="4" maxlength="10" required >
        <br>
        <br>
        <button type="submit" id="js_login_button">Login</button>
      </form>
      <br>
      <a href="{% url 'mashgame:signup' %}">Create a new user</a>
    </div>
    {% block javascript %}
      <!-- <script src="{% static 'mashgame/validation.js' %}"></script> -->
      <script>
        $("#js_user_name").keyup(function(){
          var user_name = $(this).val();

          $.ajax({
            url: "{% url 'mashgame:validate_username' %}",
            data: {
              'user_name': user_name
            },
            dataType: 'json',
            success: function(res_data) {
              if( !res_data.is_taken) {
                document.getElementById("js_user_name").style.borderColor = "read";
                $("#js_password").hide();
                $("#js_login_button").hide();

              }
              else{
                document.getElementById("js_user_name").style.borderColor = "green";
                $("#js_password").show();
                $("#js_login_button").show();
              }
            }
          });
        });
      </script>
    {% endblock %}
  </body>
